.registration {
  background-color: #2F3438;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}

#nav-background {
  background: #2F3438;
}

#login-form {
  padding-top: 10px;
  font-weight: 200;
}

#sign-in {
  background: url(./Images/keyboard2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

#sign-in .dark-overlay {
  min-height: 700px;
}

#sign-in .card-form {
  opacity: 0.8;
}

#security {
  background: url(./Images/lock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}