.option {
  padding: 18px;
  color: white;
  margin: 10px;
  font-size: 22px;
  font-family: system-ui;
  border-bottom: solid;
  border-color: grey;
  font-weight: 200;
}

.option a {
  color: inherit;
  text-decoration: none;
}

.option span {
  margin-right: 20px;
}
