.option {
  padding: 10px;
  color: white;
  margin: 10px;
  font-size: 22px;
  font-family: Roboto;
  border-bottom: solid;
  border-color: grey;
}

.option a {
  color: inherit;
  text-decoration: none;
}

.option span {
  margin-right: 10px;
}