:root {
  --text-color: #414A4C;
  --border-color: lightblue;
  --background-color: #DEE4E7;
  --grid-lines: #DCDCDC;
}

#root {
  height: 100%;
}


.message-page {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
  width: 100vw;
  height: 95vh;
  border: 1px solid lightgray;
  grid-template-areas: 
    'p s s s s s'
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'n f f f f f'
}

.message-list {
  grid-area: m;
}

.send-message {
  grid-area: f;
}

.new-room-form {
  grid-area: n;
}

.room-list {
  grid-area: r;
}

.search-users {
  grid-area: s;
}

.info {
  grid-area: p;
}

.room-list {
  box-sizing: border-box;
  border-top: 2px solid var(--grid-lines);
  border-bottom: 1px solid var(--grid-lines);
  height: 100%;
  overflow: scroll;
}

.room-list ul {
  list-style-type: none;
}

.room-list li {
  margin: 30px 0px;
}

.room-list .user-photo {
  width: 50px;
  padding-right: 10px;
}

.room-list .room a {
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.room-list .roomactive a  {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.new-room-form {
  border-top: 1px solid var(--grid-lines);
  color: var(--text-color);
  padding: 5px 5px 2px 5px;
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  width: 135px;
  border: 0;
}

.new-room-form button {
  color: #3B97D3;
  font-size: 30px;
  font-weight: 300;
  border: 0;
  background: none;
}

.new-room-form input::placeholder {
  color: var(--text-color);
  font-weight: 200;
}

.new-room-form input:focus {
  outline-width: 0;
}

.message {
  margin: 15px 0;
}

.message .username {
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
}

.message .text {
  background: var(--border-color);
  color: white;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--grid-lines);
  border-bottom: 1px solid var(--grid-lines);
  border-left: 2px solid var(--grid-lines);
  overflow: scroll;
}

.message-list .start-convo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 40px;
  font-weight: 300;
}

.send-message {
  border-top: 1px solid var(--grid-lines);
  border-left: 2px solid var(--grid-lines);
  display: flex;
}

.send-message input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  font-weight: 400;
}

.send-message input:focus {
  outline: none;
}

.info {
  width: 100%;
}

.info .user-photo {
  float: left;
  height: 50px;
  width: 70px;
  padding: 5px 30px 5px 5px;
}

.info .username {
  font-weight: 300;
  padding-top: 10px;
  padding-left: 40%;
  font-size: 20px;
}

.search-users {
  border-left: 2px solid var(--grid-lines);
  background: var(--background-color);
  display: flex;
}

.search-users input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  font-weight: 400;
}

.search-users input:focus {
  outline: none;
}

